.video {
  background-color: var(--dark-gray-1);
  width: 340px;
  height: 200px;
  border-radius: 15px;
}

.videoInfo {
  display: flex;
  padding: 10px 10px 10px 0px;
  gap: 15px;
}

.videoDesc {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.title {
  font-size: 25;
  font-weight: 500;
  margin-bottom: 7px;
}

.avatar {
  background-color: var(--gray-2);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.subInfo {
  font-size: 14px;
  color: var(--gray-1);
  padding: 2px;
}

.moreOptionButton {
  cursor: pointer;
  opacity: 0;
}

.moreOptionButton:hover {
  cursor: pointer;
  opacity: 1;
}
