.fullRoundedButton {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: white;
}

.fullRoundedButton:hover {
  background-color: var(--dark-gray-3);
}

.imgShadow {
  background-color: var(--dark-gray-2);
}
