.fullRoundedButton {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  align-self: center;
  color: white;
}

.fullRoundedButton:hover {
  background-color: var(--lighter-gray);
}

.imgShadow {
  background-color: #272727;
}
