.sideBar {
  visibility: visible;
  display: flex;
  flex-direction: column;
  width: 245px;
  height: 5000px;
  background-color: var(--bg-black);
}

.navSection {
  border-bottom: 1px solid var(--lighter-gray);
  padding: 12px 12px;
}

.sectionHeader {
  font-size: 16px;
  padding: 6px 12px 4px 12px;
  font-weight: 400;
  line-height: 22px;
}

.navBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  padding: 12px;
  gap: 12px;
  width: 200px;
  height: 24px;
}

.navBox:hover {
  background-color: var(--light-hover-gray);
  fill: white;
}

.navIcon {
  margin-right: 12px;
}

.navText {
  text-decoration: none;
  color: var(--text-white);
  font-size: 14px;
}
