.chipBarWithButton {
  display: flex;
  height: 56px;
  align-items: center;
}

.chipBar {
  display: flex;
  overflow-x: auto;
}

.chipBar::-webkit-scrollbar {
  display: none;
}

.homePageChip {
  margin: 5px;
}

.chipBarButton {
  width: 40px;
  height: 40px;
}
