.searchBarButton {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 65px;
  height: 40px;
  background-color: var(--dark-hover-gray);
  border: 1px solid #333333;
}

.searchBar {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 1px solid #333333;
  background-color: var(--bg-black);
  padding-left: 15px;
  width: 520px;
  height: 38px;
  font-size: medium;
}

.searchIcon {
  width: 24px;
  height: 24px;
}

.searchBox {
  display: flex;
}
