.searchBarButton {
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 65px;
  height: 40px;
  background-color: #222222;
  border: 1px solid #333333;
}

.searchBar {
  /* border: none; */
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 1px solid #333333;
  background-color: #0f0f0f;
  padding-left: 15px;
  width: 400px;
  height: 36px;
  font-size: medium;
}

.searchBox {
  display: flex;
}
