#SearchBarButton {
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 65px;
  height: 44px;
  background-color: #222222;
}

#SearchBar {
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 2px solid #222222;
  background-color: #0f0f0f;
  padding-left: 15px;
  width: 400px;
  height: 38px;
  font-size: medium;
}

#SearchBox {
  display: flex;
}
