.chip {
  border: none;
  border-radius: 8px;
  background-color: var(--dark-hover-gray);
  min-width: fit-content;
  padding: 6px 10px;
  font-size: 12px;
  align-self: center;
}

.chip:hover {
  background-color: var(--lighter-gray);
}
