* {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --bg-black: #0f0f0f;
  --dark-hover-gray: #222222;
  --light-hover-gray: #272727;
  --lighter-gray: #3f3f3f;
}

body {
  background-color: var(--bg-black);
}
