* {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --bg-black: #0f0f0f;
  --inactive-bg-black: #070707;
  --dark-hover-gray: #222222;
  --light-hover-gray: #272727;
  --lighter-gray: #3f3f3f;
  --text-white: #f1f1f1;
}

body {
  background-color: var(--inactive-bg-black);
  color: var(--text-white);
}
