* {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --black-2: #070707;
  --black-3: #181818;
  --dark-gray-1: #222222;
  --dark-gray-2: #272727;
  --dark-gray-3: #333333;
  --dark-gray-4: #3f3f3f;
  --gray-2: #717171;
  --gray-1: #aaa;
  --white-2: #ccc;
  --blue-1: #005fcc;
  --purple-1: #7e57c2;
}

body {
  background-color: var(--black-2);
  color: white;
}

.style-scope {
  fill: white;
}
